.chat-main 
  .chat-main__group-info
    .chat-items
      .chat-items__left-contents
        .chat-items__left-contents--group-name
          = @group.name

        .chat-items__left-contents--group-member-name
          = @group.users.name

      .chat-items__right-contents
        .chat-items__right-contents--group-edit
          = link_to edit_group_path(@group) do
            edit

    .wrapper
      .chat-main__message-list
        .message-items
          = render @messages
          
  .chat-main__massage-form
    .talk-items
      .form
        = form_for [@group, @message] do |f|
          = f.text_field :content, class: 'form__message', placeholder: 'type a message'
          .form__mask
            = f.label :image, class: 'form__mask__image' do
              = icon('fas', 'image', class: 'icon')
              = f.file_field :image, class: 'hidden'
          = f.submit 'Send', class: 'form__submit'