.side-bar
  .side-bar__user-name
    .top-items
      .top-items__names
        = current_user.name

      .top-items__icons
        = link_to "groups/new", class: "top-items__btn" do
          = icon('fas', 'edit', class: "top-items__btn--icon")
          %span<>
        = link_to edit_user_path(current_user) do
          = icon('fas', 'cog', class: "top-items__btn--icon")
          %span<>

  .side-bar__group-list
    .group-items
      - current_user.groups.each do |group|
        .group--items__link
          = link_to group_messages_path(group) do
            .group-items__names
              = group.name
            .group-items__messages
              = group.show_last_message